@{
    ViewBag.Title = "Reportes";
}

<div class="container">
    <div class="panel panel-form col-md-7">
        <h2>Ganancia por meses (seleccione un año) </h2>
        @using (Html.BeginForm("GananciaMensual", "Reportes", null, FormMethod.Post))
        {
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.Label("Años", new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.DropDownList("Year", null, new { @class = "chzn-select col-md-9" })
                    <input class="btn btn-success" type="submit" value="Mostrar" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#Fecha').datepicker({ format: "dd/mm/yyyy" });
            $('.chzn-select').chosen();
        });
    </script>
}
