@model PVRA.Models.ConceptoCosto

@{
    ViewBag.Title = "Eliminar";
}
<div class="container">
    <div class="panel panel-form col-md-7">
        <h2>Eliminar</h2>

        <h3>Esta seguro que desea Eliminar este registro?</h3>
        <div>
            <h4>Concepto de Pago</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Borrar" class="btn btn-danger" /> |
                    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
                </div>
            }

        </div>
    </div>
</div>
